body { 
    margin: 0;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
    color: black;
    transition: background-color 0.3s, color 0.3s;
     } 

body.dark-mode { 
    background-color: black;
    color: rgb(238, 239, 239);
     } 


#darkModeBtn { 
    padding: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: black;
    color: azure;
    font-size: 16px;
} 


body.dark-mode #darkModeBtn { 
    background-color: azure;
    color: rgb(0, 0, 0);
 } 